<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro</h1>
    <form action="{% url 'criar' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <br>
            {{ field.label_tag }}
            <br>
            {{ field }}
            <br>
        {% endfor %}
        <br>
        <button type="submit">Cadastrar</button>
    </form>

    <button><a href="{% url 'home' %}">Voltar</a></button>
</body>
</html>